<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

//You need to generate your own GoogleService-Info.plist for your own firedatabase
//Usefull links with walkthroughs:
//https://www.youtube.com/watch?v=F9Gs_pfT3hs
//https://firebase.google.com/docs/ios/setup

</dict>
</plist>
